cm_medical_history-flow.json
[
    {
        "id": "main.flow",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "test.flow",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5fc6ccd.17dd7",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "responseType": "http",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"status\": \"completed\"}",
        "eventPayload": "",
        "eventType": "success",
        "x": 882.5,
        "y": 160,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "b970b7d2.5454c8",
        "type": "Assertion",
        "z": "test.flow",
        "name": "check response",
        "selector": "jsonBody",
        "property": "hello",
        "comparison": "equals",
        "value": "world",
        "x": 265,
        "y": 160,
        "wires": [
            [
                "e0721cc7.653eb"
            ]
        ],
        "caname": "test-assertion",
        "category": "testing"
    },
    {
        "id": "e0721cc7.653eb",
        "type": "TestCaseEnd",
        "z": "test.flow",
        "name": "TestCaseEnd",
        "x": 425,
        "y": 160,
        "wires": [],
        "caname": "test-case-end",
        "category": "testing"
    },
    {
        "id": "e8fb91dc.46c24",
        "type": "HTTPTestCase",
        "z": "test.flow",
        "name": "HTTPTestCase",
        "method": "GET",
        "path": "/test",
        "headers": {
            "Accept": "application/json"
        },
        "authtype": "none",
        "secUser": "",
        "secPassword": "",
        "secToken": "",
        "payload": "",
        "mocks": [],
        "x": 122.5,
        "y": 160,
        "wires": [
            [
                "b970b7d2.5454c8"
            ]
        ],
        "caname": "http-test-case",
        "category": "testing"
    },
    {
        "id": "d84e47d6.ee7748",
        "type": "JSON",
        "z": "main.flow",
        "name": "JSON",
        "property": "msg.payload",
        "action": "obj",
        "pretty": false,
        "x": 222.5,
        "y": 160,
        "wires": [
            [
                "6a8c7696.7106d8"
            ]
        ],
        "caname": "JSON",
        "category": "transformation"
    },
    {
        "id": "c413e4f4.6c8588",
        "type": "EventListener",
        "z": "main.flow",
        "name": "Recieve Event",
        "provider": "aws",
        "eventSource": "lambda",
        "dynamodbOperation": "",
        "apiMethod": "any",
        "apiUrl": "",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "s3:ObjectCreated:*",
        "cognitoTrigger": "any",
        "reference": "",
        "queueName": "",
        "keventSource": "",
        "kapiMethod": "any",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreOperation": "all",
        "kObjectStoreName": "",
        "zeventSource": "",
        "zapiMethod": "any",
        "zapiUrl": "",
        "x": 122.5,
        "y": 160,
        "wires": [
            [
                "d84e47d6.ee7748"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "f04e0240.077b7",
        "type": "Template",
        "z": "main.flow",
        "name": "Template",
        "field": "payload",
        "fieldType": "camsg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n<body>\n   <table>\n     <tr>\n       <td></td>\n       <td></td>\n       <td></td>\n     </tr>\n   </table>\n</body>\n</html>",
        "output": "str",
        "x": 422.5,
        "y": 160,
        "wires": [
            [
                "a5a8e404.7cae48"
            ]
        ],
        "caname": "template",
        "category": "transformation"
    },
    {
        "id": "4162cc58.4dfa14",
        "type": "S3",
        "z": "main.flow",
        "operation": "PutObject",
        "Bucket": "efsdemobucket",
        "Key": "test.pdf",
        "KeyType": "",
        "Content": "msg.payload",
        "ContentType": "application/pdf",
        "BucketType": "",
        "CopySource": "",
        "CopySourceType": "",
        "DestinationBucket": "",
        "DestinationBucketType": "",
        "DestinationKey": "",
        "DestinationKeyType": "",
        "Delete": "",
        "DeleteType": "",
        "AccessKey": "env.bucketkey",
        "AccessSecret": "env.bucketsecret",
        "Rolearn": "",
        "Region": "ap-southeast-2",
        "SecurityType": "Credentials",
        "ReqTimeout": "25000",
        "name": "Upload to Storage",
        "x": 662.5,
        "y": 160,
        "wires": [
            [
                "77e46074.f5d23"
            ]
        ],
        "caname": "S3",
        "category": "aws"
    },
    {
        "id": "47484a66.25ffd4",
        "type": "catch",
        "z": "main.flow",
        "name": "catch PDF generation failed",
        "scope": [
            "a5a8e404.7cae48"
        ],
        "uncaught": false,
        "x": 302.5,
        "y": 320,
        "wires": [
            [
                "d3df22a.307c8e"
            ]
        ],
        "caname": "catch",
        "category": "exception"
    },
    {
        "id": "26a97d81.b44822",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Failed",
        "statusCode": "500",
        "responseType": "http",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"status\": \"failed\"}",
        "eventPayload": "",
        "eventType": "success",
        "x": 602.5,
        "y": 320,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "a5a8e404.7cae48",
        "type": "Function",
        "z": "main.flow",
        "name": "PDF Generation",
        "noerr": 0,
        "query": "// Available objects in the context: msg, vars, env\n// Logging: node.log|info|warn|debug|error(\"message\")\n// Errors:  throw new Error('message') \nnode.info('Inside PDF generation function')\nconst data = {\n  };\n\nconst pdf = require(\"html-pdf-lambda\");\npdf\n  .create(msg.payload, data)\n  .then((res) => {\n    console.log(res);\n    msg.payload = res;\n    node.send(msg)\n  })",
        "x": 502.5,
        "y": 160,
        "wires": [
            [
                "ab780919.5009b8"
            ]
        ],
        "caname": "function",
        "category": "transformation"
    },
    {
        "id": "6a8c7696.7106d8",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_In",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"service-in\", \"message\" : \"Lambda event recieved\", \"data\": msg.payload, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 322.5,
        "y": 160,
        "wires": [
            [
                "f04e0240.077b7"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "ab780919.5009b8",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_PDFCompletion",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"log\", \"message\" : \"PDF generation completed\", \"data\": \"\", \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 582.5,
        "y": 160,
        "wires": [
            [
                "4162cc58.4dfa14"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "77e46074.f5d23",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_UploadCompletion",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"service-out\", \"message\" : \"PDF upload completed\", \"data\": \"\", \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 762.5,
        "y": 160,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "d3df22a.307c8e",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_Failure",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"error\", \"message\" : \"PDF generation function failed\", \"data\": msg.error, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 442.5,
        "y": 320,
        "wires": [
            [
                "26a97d81.b44822"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "425da09a.e0cfb",
        "type": "catch",
        "z": "main.flow",
        "name": "catch PDF upload failed",
        "scope": [
            "77e46074.f5d23"
        ],
        "uncaught": false,
        "x": 302.5,
        "y": 440,
        "wires": [
            [
                "cff13ae1.529378"
            ]
        ],
        "caname": "catch",
        "category": "exception"
    },
    {
        "id": "fd3d87aa.5859f8",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Failed",
        "statusCode": "500",
        "responseType": "http",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"status\": \"failed\"}",
        "eventPayload": "",
        "eventType": "success",
        "x": 602.5,
        "y": 440,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "cff13ae1.529378",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_Failure",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"error\", \"message\" : \"PDF upload failed\", \"data\": msg.error, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 442.5,
        "y": 440,
        "wires": [
            [
                "fd3d87aa.5859f8"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    }
]